@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Mono', monospace;
  font-size: 10pt;
  background-color: #E0E8F0;
  color: lightgray;
}

h1 {
  margin: 3em 0 .5em;
  color: #5a646e;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}

h1 span {
  font-size: 70%;
  font-weight: 300;
  opacity: .75;
  padding: 0 10px;
}

.desc {
  max-width: 500px;
  color: #5a646e;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 auto 3em;
}

.desc a {
  background: #30353A;
  color: aquamarine;
  font-weight: 900;
  padding: 0 10px;
  text-decoration: none;
}

.desc a:hover {
  background: aquamarine;
  color: #30353A;
  text-decoration: none;
}

button, input {
  text-transform: lowercase;
  margin: 10px 0;
  opacity: .9;
}

.title .highlight {
  text-align: center;
  text-transform: uppercase;
  background: #495057;
  color: white;
  padding: .5rem;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 90%;
  font-weight: 900;
}

.title .content {
  text-align: center;
  margin-top: 0;
  padding: 2rem 1.5rem;
  border: dotted 2px #495057;
  border-top: none;
  letter-spacing: 1px;
}

form {
  margin: 3rem 0;
}

.form-control {
  padding: 0;
  margin: 0 0 1.5rem;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #495057;
  color: white;
  font-size: 10pt;
  letter-spacing: 1px;
}

.form-control:focus,
.form-control:active,
.form-control:hover {
  outline: 0;
  box-shadow: 0 0 0;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px lightgray;
  color: lightgray;
}

.btn {
  font-size: 10pt;
  border-radius: 0;
  letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn:hover {
  outline: 0;
  box-shadow: 0 0 0;
}

.terminal-window {
  text-align: left;
  min-height: 30rem;
  margin: auto;
  position: relative;
}

.terminal-window .header {
  background: white;
  height: 1.875rem;
  border-radius: .5rem .5rem 0 0;
  padding-left: .625rem;
}

.terminal-window .header .button {
  width: .75rem;
  height: .75rem;
  margin: .625rem .25rem 0 0;
  display: inline-block;
  border-radius: .5rem;
}

.terminal-window .header .button {
  background: #5a646e;
}

.terminal-window .terminal {
  color: white;
  background: #30353A;
  box-sizing: border-box;
  border-radius: 0 0 .5em .5em;
  width: 100%;
  top: 1.875rem;
  bottom: 0;
  overflow: auto;
  padding: 2rem;
}

.response {
  letter-spacing: 1px;
  border-left: solid 1px white;
  padding: 0 0 0 20px;
}

.response li {
  list-style: none;
  padding: .1em 0;
}

.response li span {
  color: aquamarine;
}

.label {
  text-transform: uppercase;
  color: black;
  background: white;
  font-weight: 900;
  font-size: 90%;
  padding: 0 5px;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin: 3em 0 1em 0;
    font-size: 1.5em;
  }

  .terminal-window {
    text-align: left;
    margin: auto;
    position: relative;
  }

  .terminal-window {
    padding: 1em;
  }

  .terminal-window .terminal {
    color: white;
    font-size: 10pt;
    background: #30353A;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    top: 1.875vmin;
    bottom: 0;
    overflow: auto;
  }

  .title .content {
    padding: 1.5rem 0.5rem;
  }

  .container-fluid {
    padding: 0;
  }
}